# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation = "my_weather_data.csv"
vacation = pd.read_csv(vacation)
del(vacation['Unnamed: 0'])
vacation.head()

,City,Country,Date,Lat,Lng,Max Temp,Wind Speed,Cloudiness,Humidity
0,ushuaia,AR,2020-02-08 17:27:05,-54.80,-68.30,19.00,2.01,0,45
1,forio,IT,2020-02-08 17:28:42,40.73,13.86,11.11,2.10,0,66
2,mianyang,CN,2020-02-08 17:28:42,31.46,104.75,7.65,0.71,75,66
3,punta arenas,CL,2020-02-08 17:26:16,-53.15,-70.92,22.00,4.60,0,67
4,hilo,US,2020-02-08 17:24:51,19.73,-155.09,16.11,2.60,1,67

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
cordinates = vacation[['Lat', 'Lng']]
weights = vacation['Humidity']
fig = gmaps.figure(map_type = 'SATELLITE')
fig.add_layer(gmaps.heatmap_layer(cordinates, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Finding the ideal weather condition
# max temp <= 27
# max temp > 21
# wind speed < 10 mph
# cloudiness = 0
vacation_df = vacation.loc[(vacation['Max Temp'] > 21.00) & (vacation['Max Temp'] <= 28.00)]
                           #(vacation['Wind Speed'] < 10)]
                           #(vacation['Cloudiness'] == 0)]
vacation_df.count()

City          173
Country       169
Date          173
Lat           173
Lng           173
Max Temp      173
Wind Speed    173
Cloudiness    173
Humidity      173
dtype: int64

In [5]:
better_vacation = vacation_df.loc[(vacation_df['Wind Speed'] < 10)]
better_vacation.count()

City          171
Country       167
Date          171
Lat           171
Lng           171
Max Temp      171
Wind Speed    171
Cloudiness    171
Humidity      171
dtype: int64

In [6]:
best_vacation = better_vacation.loc[(better_vacation['Cloudiness'] == 0)]
best_vacation

,City,Country,Date,Lat,Lng,Max Temp,Wind Speed,Cloudiness,Humidity
3,punta arenas,CL,2020-02-08 17:26:16,-53.15,-70.92,22.00,4.60,0,67
72,guhagar,IN,2020-02-08 17:28:46,17.48,73.19,24.68,3.61,0,64
94,myingyan,MM,2020-02-08 17:28:47,21.47,95.38,21.61,0.85,0,45
110,atuona,PF,2020-02-08 17:28:47,-9.80,-139.03,26.95,8.34,0,74
154,luderitz,NaN,2020-02-08 17:28:49,-26.65,15.16,22.00,7.70,0,68
221,bosaso,SO,2020-02-08 17:28:53,11.28,49.18,24.23,4.39,0,76
239,lebu,CL,2020-02-08 17:27:42,-37.62,-73.65,25.70,4.06,0,30
267,beloha,MG,2020-02-08 17:28:55,-25.17,45.05,24.37,4.42,0,81
285,douentza,ML,2020-02-08 17:28:56,15.00,-2.95,26.55,3.55,0,8
319,les cayes,HT,2020-02-08 17:28:57,18.20,-73.75,26.93,3.79,0,66
350,dwarka,IN,2020-02-08 17:27:26,22.24,68.97,22.43,6.77,0,45
389,sharjah,AE,2020-02-08 17:29:01,25.36,55.40,23.00,1.00,0,77
403,gorom-gorom,BF,2020-02-08 17:29:02,14.44,-0.24,26.56,4.35,0,11
407,san carlos de bariloche,AR,2020-02-08 17:29:02,-41.15,-71.31,23.00,2.60,0,28
413,kovur,IN,2020-02-08 17:29:02,14.48,79.98,23.73,4.12,0,79
434,antalaha,MG,2020-02-08 17:29:04,-14.90,50.28,27.97,5.61,0,75
438,akyab,MM,2020-02-08 17:29:04,20.15,92.90,21.08,2.52,0,49
453,port augusta,AU,2020-02-08 17:24:12,-32.50,137.77,23.00,3.60,0,78
482,ampanihy,MG,2020-02-08 17:29:07,-24.70,44.75,26.00,3.08,0,61
545,constitucion,CL,2020-02-08 17:29:10,-35.33,-72.42,22.46,3.87,0,36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:


# geocoordinates
coordinates = "best_vacation['Lat']['Lng']"
search = "lodging"
radius = 5000

hotel_df = {"Name": search,
            "lat_lng": coordinates}


# set up parameters dictionary
params = {
    "keyword": search,
    "radius": radius,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=lodging&radius=5000&key=AIzaSyC1RVlDNKnEDVo5s22kcwN7UZlFNlszRTQ

In [9]:
# convert response to json
places_data = response.json()

# Print the json (pretty printed)
print(json.dumps(places_data, indent=4, sort_keys=True))

{
    "error_message": "You have exceeded your daily request quota for this API. If you did not set a custom daily request quota, verify your project has an active billing account: http://g.co/dev/maps-no-account",
    "html_attributions": [],
    "results": [],
    "status": "OVER_QUERY_LIMIT"
}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in best_vacation.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map